@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import "./variable","./mixins","./extend";
body{
    font-family: $font-family;
    background-color: black;
    color:white;
    padding:30px;
    .common-style{
        h3{
            @include title;
            @extend %btn;
        }
        h4{
            @include sub-title;
        }
       li{
        color:$primary-color;
       }
       .inline-style{
        @extend %btn;
        background: $blue-gradient;
       }
    }
}